body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #03A9F4;
    color: #ffffff;
}

header h1{
    display: block;
    margin: 0px;
    padding: 1em 1em 1em 2em;
    text-align: center;
}

header nav ul{
    display: block;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1em;
    list-style: none;
    max-height: 100vh;
    transition: max-height 0.7s ease;
}

header nav ul.hidden{
    max-height: 0vh;
    transition: max-height 0.7s ease;
}

header nav ul li a{
    display: block;
    padding: 16px 8px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.7s ease, color 0.7s ease;
}

header nav ul li a:hover{
    background-color: #FF5722;
    color: #212121;
    border-radius: 5%;
    transition: background-color 0.7s ease, color 0.7s ease;
}

.hamburguer{
    display: flex;
    position: absolute;
    left: 15%;
    top: 26px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    padding-top: 1px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-image: url("../imgs/virus.png");
    transform: rotate(0deg);
    transition: transform 0.7s ease;
    
}

.move-menu{
    animation: Movement 6s infinite;
}

main {
    background-color: #ffffff;
    color: #212121;
    padding: 0px;
    line-height: 1.5;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
    font-size: 2.5em;
}

h3{
    text-align: center;
    font-size: 2em;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0288D1;
    padding: 1em 1em;
    color: #ffffff;
}

footer .icon{
    display: block;
    font-size: 2em;
    padding: 0.25em;
    margin: 0.1em;
    background-color: #FF5722;
    color: #fff;
    text-shadow: 1px 1px 2px #212121;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #212121;
    transition: background-color 0.7s ease;
    text-align: center;
}

footer .icon:hover {
    background-color: #C8E6C9;
    transition: background-color 0.7s ease;
  }
  footer .center {
    text-align: center;
    order: 1;
    padding: 1em;
  }
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    order: 2
  }

  footer section:nth-child(1) {
    order: 3;
  }
  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  footer nav ul li {
    flex-basis: 50%;
    text-align: center;
  }
  footer nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    text-align: center;
  }

.row{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    margin: 0px;
    flex-wrap: wrap;
}

[class*=col-]{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    margin: 0px;
}

.col-sm-1{
    flex-basis: calc(100%/12);
}

.col-sm-2{
    flex-basis: calc(100%/6);
}

.col-sm-3{
    flex-basis: calc(100%/4);
}

.col-sm-4{
    flex-basis: calc(100%/3);
}

.col-sm-5{
    flex-basis: calc(100%/12 * 5);
}

.col-sm-6{
    flex-basis: calc(100%/2);
}

.col-sm-7{
    flex-basis: calc(100%/12 * 7);
}

.col-sm-8{
    flex-basis: calc(100%/12 * 8);
}

.col-sm-9{
    flex-basis: calc(100%/12 * 9);
}

.col-sm-10{
    flex-basis: calc(100%/12 * 10);
}

.col-sm-11{
    flex-basis: calc(100%/12 * 11);
}

.col-sm-12{
    flex-basis: 100%;
}

img{
    max-width: 100%;
}

.cardholder{
    margin-top: 1em;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ecedef;;
}

[class*=card_]{
    box-sizing: border-box;
    padding: 1em;
}

[class*=card_] h3 {
    padding: 1em;
    margin-top: calc(-1em + 1px);
    margin-left: calc(-1em + 2px);
    margin-right: calc(-1em + 2px);
    margin-bottom: 0px;
    text-align: center;
  }

  [class*=card_] img {
    padding-right: 2em;
    padding-bottom: 1em;
    float: left;
  }

.card_1{
    width: 70%;
    margin: 1em;
}

.contact{
    background-image: url("../imgs/barra.jpg");
    background-position-x: 40%;
    color: #333333;
    margin: 0px;
    height: 272px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
    padding: 0.5em;
    transform: translateY(50%);
}

.Ubicaciones{
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 4em;
}
.block-info{
    display: block;
    margin: 0px;
    padding: 1em 1em 1em 2em;
    text-align: center;
}
 ul{
    display: block;
    padding: 1em;
    margin: 0px;
    padding-bottom: 1em;
    max-height: 100vh;
    list-style: none;
}

@keyframes Movement {
    0% {
        transform: rotate(0deg);
      }
    
      25% {
        transform: rotate(45deg);
      }
    
      75% {
        transform: rotate(-45deg);
      }
    
      100% {
        transform: rotate(0deg);
      }
  }

  @media (min-width:720px){
        .hamburguer{
            display: none;
        }

        header h1{
            display: inline-block;
            text-align: left;
        }

        header nav{
            display: inline-block;
            text-align: right;
        }

        header nav ul{
            display: inline-block;
        }

        header nav ul li{
            display: inline-block;
        }

        header nav ul li a{
            display: inline-block;
        }

        header nav ul.hidden{
            max-width: 100vh;
        }

        [class*=card_] img {
            display: block;
            padding-right: 2em;
            padding-bottom: 1em;
          }

        .card_1 {
            width: 40%;
        }

  }

  @media(min-width: 1050px){
    
    header h1{
        display: inline-block;
        text-align: center;
        width: calc(100% - 800px);
    }

    header nav{
        display: inline-block;
        text-align: right;
        width: auto;
    }

    header nav ul{
        display: inline-block;
    }

    header nav ul li{
        display: inline-block;
        font-size: 1.5em;
    }

    header nav ul li a{
        display: inline-block;
    }

    header nav ul.hidden{
        max-width: 100vh;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0288D1;
        padding: 1.5em 1em;
        color: #fff;
    }

    footer section{
        min-width: 30%;
    }

    footer nav ul {
        padding-left: 40%;
    }

    footer nav ul li{
        flex-basis: 100%;
        text-align: left;
    }

    footer section:nth-child(1){
        order: 1;
    }

    footer .center{
        order: 2;;
    }

    footer .social{
        flex-direction: row;
        text-align: center;
        order: 3;
    }

    .card_1 {
        width: 40%;
    }

  }

