body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #03A9F4;
    color: #ffffff;
}

header h1{
    display: block;
    margin: 0px;
    padding: 1em 1em 1em 2em;
    text-align: center;
}

header nav ul{
    display: block;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1em;
    list-style: none;
    max-height: 100vh;
    transition: max-height 0.7s ease;
}

header nav ul.hidden{
    max-height: 0vh;
    transition: max-height 0.7s ease;
}

header nav ul li a{
    display: block;
    padding: 16px 8px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.7s ease, color 0.7s ease;
}

header nav ul li a:hover{
    background-color: #FF5722;
    color: #212121;
    border-radius: 5%;
    transition: background-color 0.7s ease, color 0.7s ease;
}

main {
    background-color: #ffffff;
    color: #212121;
    padding: 0px;
    line-height: 1.5;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0288D1;
    padding: 1em 1em;
    color: #ffffff;
}

.row{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    margin: 0px;
    flex-wrap: wrap;
}

[class*=col-]{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    margin: 0px;
}

.col-sm-1{
    flex-basis: calc(100%/12);
}

.col-sm-2{
    flex-basis: calc(100%/6);
}

.col-sm-3{
    flex-basis: calc(100%/4);
}

.col-sm-4{
    flex-basis: calc(100%/3);
}

.col-sm-5{
    flex-basis: calc(100%/12 * 5);
}

.col-sm-6{
    flex-basis: calc(100%/2);
}

.col-sm-7{
    flex-basis: calc(100%/12 * 7);
}

.col-sm-8{
    flex-basis: calc(100%/12 * 8);
}

.col-sm-9{
    flex-basis: calc(100%/12 * 9);
}

.col-sm-10{
    flex-basis: calc(100%/12 * 10);
}

.col-sm-11{
    flex-basis: calc(100%/12 * 11);
}

.col-sm-12{
    flex-basis: 100%;
}

img{
    max-width: 100%;
}

.cardholder{
    margin-top: 1em;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ecedef;;
}

[class*=card_]{
    box-sizing: border-box;
    padding: 1em;
}

[class*=card_] h3 {
    padding: 1em;
    font-size: 35px;
    margin-top: calc(-1em + 1px);
    margin-left: calc(-1em + 3px);
    margin-right: calc(-1em + 3px);
    text-align: center;
  }

.card_1{
    width: 70%;
    margin: 1em;
}

#map {
    height: 350px;
    width: 840px;
    text-align: left;
    margin-left: 10px;
    margin-right: 30px;
}